.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item {
    background-color: gray;
}

.resizable {
    display: inline-block;
    resize: horizontal;
    overflow: hidden;
    line-height: 0;
    max-width: 100%;
}

.resizable img, .resizable canvas {
    width: 100%;
}
